<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Poppins:500|Quicksand:300&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/styles/signup-login-forms.css" media="screen" title="no title"
    charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/styles/dog-form-styles.css" media="screen" title="no title"
    charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/styles/dog-owner-styles.css" media="screen" title="no title"
    charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/styles/dog-walk-styles.css" media="screen" title="no title"
    charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/styles/dog-stats-styles.css" media="screen" title="no title"
    charset="utf-8">
  <title>Stroll App</title>
</head>

<body>
  {{{body}}}
</body>

</html>
