{{!-- <canvas id="canvas"></canvas> --}}

<div id="home" class="flexContainer flexCenter itemCenter fullHeight centerImage">
  <h1 class="landing-header">Stroll</h1>
  <div class="userOptions flexContainer flexCenter itemCenter fullHeight">
    <div class="get-started-prompt">
      <h3>Get started</h3>
      <a href="/dog-owner-signup"><button type="button" class="btn"><strong>Dog Owner
            Signup</strong> <i class="fas fa-user-plus leftspace"></i></button></a>
    </div>
    <div class="login-prompt">
      <h3>Login</h3>
      <a href="/dog-owner-login"><button type="button" class="btn leftspace"><strong>Dog Owner
            Login</strong>
          <i class="fas fa-user"></i></button></a>
      </div>
    </div>
  </div>
  <div class="mission">
    <h1 class="landing-taglines">Learn more about your dog's favorite time of day.</h1>
    <div class="mission-flex-container">
      <div class="mission-description">
        <p class="mission-description-p">Stroll lets you track all the things you want<br /> to remember about your dog's walk.</p>
      </div>
      <div class="mission-app-feature-list">
        <ul>
          <li><i class="fas fa-paw"></i> Track your walks over time</li>
          <li><i class="fas fa-paw"></i> Visualize your dog's favorite spots to go!</li>
          <li><i class="fas fa-paw"></i> Mark dog-friendly establishments you find.</li>
          <li><i class="fas fa-paw"></i> Drop a reminder of public places with free bags.</li>
          <li><i class="fas fa-paw"></i> Monitor your dog's health stats.</li>
        </ul>
      </div>
    </div>
  </div>
</div>

</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/canvas.js"></script>