
.dog-page-wrapper {
    width: 85%;
    margin: auto;
}

.dogs-card {
    width: 50%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.dogs-card img {
    width: 60%;
    border-radius: 50%;
    margin: auto;
}

.add-dog-link {
    font-size: 1rem;
    position: absolute;
    top: 20%;
    left: 5%;
}

#orgDogForm {
    font-size: 30px;
}