h1,h2,h3 {
    font-family: 'Poppins', sans-serif;
}

p,a,div,span,nav {
    font-family: 'Quicksand', sans-serif;
}

.flexContainer {
    display: flex;
    text-align: center;
}
.flexCenter {
    justify-content: center;
}
.itemCenter {
    align-items: center;
}
.fullHeight {
    height: 90vh;
}
.centerImage {
    background: url('../img/landing.jpg') center;
    background-size: cover;
}

.welcome-header {
    position: absolute;
    top: 15%;
    left: 10%;
    color: #90812b;
    opacity: 0.85;
    font-size: 3.4rem;
}

.get-started-prompt,
.login-prompt {
    color: white;
    margin: 10%;
}

.mission {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.landing-taglines {
    color: #90812b;
    margin-top: 2%;
}